header.masthead {
    background: url(../img/banner.png);
  }

  .btn-primary {
    background-color: #b408ee;
    border-color: #b408ee;b408ee
  }
  
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #a206d6 !important;
    border-color: #a206d6 !important;
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
  }
  
  .btn-secondary {
    background-color: #ff6a00;
    border-color: #ff6a00;
  }
  
  .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background-color: #cc5500 !important;
    border-color: #cc5500 !important;
  }
  
  .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
  }